// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Section Padding Settings
section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Li Object Margin
.list {
  margin-bottom: 1.7rem;
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Image
.img-round {
  border-radius: 50%;
  margin: auto;
}

.img-container {
  margin: auto;
  width: 256px;
}

.img-about {
  width: 256px;
}

.img-mobile {
  margin: auto;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

// Menu Button
.menu {
  color: $white;
}

.menu:hover .menu:focus .menu:active {
  color: $primary;
}

// Custom Logo options
.logo-hc {
  margin: auto;
}

.logo-container {
  width: 70%;
}

@media(max-width: 991px) {
  .hc {
    align-content: right;
  }

  .img-mobile {
    width: 256px;
    margin-bottom: 2.3rem;
  }

  .logo-hc {
    margin-bottom: 2.5rem;
  }
}

@media(min-width: 992px) {
  .hc {
    justify-content: center;
  }

  .img-container {
    width: 512px;
  }

  .logo-hc {
    margin-top: 0.8rem;
  }
}